
<div id="buttonbar">
    <form id='myform' method="POST" action="<?= $this->url(array("module" => "default", "controller" => "index", "action" => "add"), null, true); ?>"  >
        <input type="submit" value="Ajouter un produit" />
    </form>
    <form id='myform' class="deleteform" method="POST" action="<?= $this->url(array("module" => "default", "controller" => "index", "action" => "delete"), null, true); ?>">
        <input id="delete" type="submit" value="supprimer la selection" />
</div>
<table id="datagrid" class="display" cellspacing="0" width="100%">
    <col style="width:5%">
    <col style="width:70%">
    <col style="width:20%">
    <col style="width:5%">
    <thead>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>&nbsp;</th>
        </tr>
    </tfoot>
    <tbody>
    <?php foreach ($this->products as $key => $val): ?>
        <tr>
            <td align="center"><?= $val->getId(); ?></td>
            <td style="font-size:1.4em;"><strong><?= $val->getName(); ?></strong></td>
            <td align="justify"><?= $val->getCatName(); ?></td>
            <td>
                <input type="checkbox" name="check[<?= $val->getId() ?>]" id="<?= $val->getId() ?>">
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
</form>