<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title><?= $this->title; ?></title>        

        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
        <style type="text/css">#myform { display: inline}</style>
        
        <script type="text/javascript" langage="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" langage="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#datagrid').DataTable({"paging": false}); 
                
                $('.deleteform').submit(function () {
                    $("input[name='check[]']").remove();
                    $("input:checked").each(function(){
                    $('<input type="checkbox" name="check['+ this.id +']" ' + 'value="' +
                      this.id + '" type="hidden" checked="checked" />')
                        .css("display", "none")
                        .appendTo('.deleteform');
                    });
                });

            } );
        </script>

    </head>
    <body>
        <div >

            <h1 class="title"><?= $this->title; ?></h1>

            <?= $this->layout()->content; ?>

        </div>
        
    </body>
</html